{% extends "base.html" %}
{% block title %} Add Images {% endblock %}
{% block content %}
<h2 class="title">Add product images</h2>
<!-- <form method="post">
    <label for="title">Title</label>
    <input id="title" type="text" placeholder="Hand-Painted Wall Tapestry" name="title" required>

    <label for="price">Price $</label>
    <input id="price" placeholder="0.00" type="number" min="0.00" step="0.01" name="price" required>

    <label for="qty">Quantity available</label>
    <input id="qty" type="number" min="1" name="qty" required>

    <label for="description">Description</label>
    <textarea id="description" placeholder="This brightly colored tapestry is made of cotton and will brighten up your room" name="description"></textarea>
    
    <div class="field">
        <div class="control">
            <input type="submit" class="button is-dark" value="Next: Add Images">
        </div>
    </div>
</form> -->
{% endblock content %}