<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Betsy |{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- place login option te aribe den navbar, if user in session this changes to logout -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/" class="navbar-item" id="logo">Betsy</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="main-navbar">
            <div class="navbar-start">
                <div class="navbar-item">
                    <form method="get" action="{{ url_for('search_products') }}">
                        <div class="field has-addons">
                            <div class="control">
                                <input type="text" class="input" placeholder="Search for anything" name="query">
                            </div>
                            <div class="control">
                                <button class="button is-dark">Search</button>
                                <!-- use fontawesome search icon instead -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="{{ url_for('view_cart') }}" class="button is-dark">Cart{% if user_cart %} ({{ cart|length }}){% endif %}</a>
                    <!-- can i add e length method to the session cart dict? -->
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <footer class="footer">
        <h3 class="is-size-4 mb-4">Betsy</h3>
        {% if user %}
            <a href="{{ url_for('my_profile') }}">My profile</a>
            <a href="{{ url_for('logout') }}">Log out</a>
        {% else %}
            <a href="{{ url_for('sign_up') }}">Become a vendor</a>
        {% endif %}
    </footer>
</body>

</html>