<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link has-text-dark rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.1/css/all.css">
    <link has-text-dark rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link has-text-dark rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Betsy |{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="header">
        <nav class="navbar is-spaced">
            <div class="navbar-brand">
                <a href="/" class="navbar-item is-size-2" style="font-family: Georgia; color: rgb(243, 114, 67);">Betsy</a>
            </div>

            <div class="navbar-menu" id="main-navbar">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <div class="field">
                            <div class="control has-icons-right">
                                <form method="get" action="{{ url_for('search_products') }}">
                                    <input type="text" class="input is-medium is-rounded " placeholder="Search for anything"
                                        name="query">
                                    <span class="icon is-small is-right has-text-dark">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    {% if "user" in session %}
                    <div class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-heart"></i>
                        </span>
                    </div>
                    <div class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-bell"></i>
                        </span>
                    </div>
                    <div class="dropdown is-hoverable is-right navbar-item">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                            <span>You</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span>{{ session['user']['full_name'] }}</span>
                                        <p>
                                            <a class="has-text-dark" href="{{ url_for('my_profile') }}">View your profile</a>
                                        </p>
                                    </span>
                                </div>
                                <div class="dropdown-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-gift"></i>
                                        </span>
                                        <span>Gift card balance: $0.00</span>
                                    </span>
                                </div>
                                <div class="dropdown-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-comment-alt"></i>
                                        </span>
                                        <span>Messages</span>
                                    </span>
                                </div>
                                <div class="dropdown-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-clipboard"></i>
                                        </span>
                                        <span>
                                            <a class="has-text-dark" href="{{ url_for('my_purchases') }}">Purchases and reviews</a>
                                        </span>
                                    </span>
                                </div>
                                <div class="dropdown-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-cog"></i>
                                        </span>
                                        <span>Account settings</span>
                                    </span>
                                </div>
                                <div class="dropdown-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-store"></i>
                                        </span>
                                        <span>Sell on Betsy</span>
                                    </span>
                                </div>
                                <div class="dropdown-item">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <i class="fas fa-sign-out-alt"></i>
                                        </span>
                                        <span>
                                            <a class="has-text-dark" href="{{ url_for('logout') }}">Sign out</a>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <a class="has-text-dark has-text-weight-semibold navbar-item" href="{{ url_for('login') }}">Sign in</a>
                    {% endif %}

                    <a class="has-text-dark has-text-weight-semibold navbar-item" href="{{ url_for('view_cart') }}">
                        {% if 'cart' in session and session['cart']|length > 0 %}
                            <i class="fas fa-cart-plus"></i>   
                        {% else %}
                            <i class="fas fa-shopping-cart"></i>
                        {% endif %}
                    </a>
                </div>
            </div>
        </nav>

        <nav class="level pb-2">
            <p class="level-item has-text-centered">
                <a class="link has-text-dark">Jewelry & Accesories</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-dark">Clothing & Shoes</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-dark">Home & Living</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-dark">Wedding & Party</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-dark">Toys & Entertainment</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-dark">Art & Collectibles</a>
            </p>
            <p class="level-item has-text-centered">
                <a class="link has-text-dark">Craft Supplies & Tools</a>
            </p>
            <p class="level-item has-text-centered">
            <a class="link has-text-dark">Vintage</a>
            </p>
        </nav>
    </header>

    <!-- modal sign in -->
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content has-background-white py-5 px-5">
            <h2 class="subtitle has-text-weight-semibold">Sign in</h2>

            <form method="post" action="{{ url_for('login') }}">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-medium is-rounded is-fullwidth is-dark" value="Sign in">
                    </div>
                </div>
            </form>
            <hr>
            <p>
                <a href="{{ url_for('sign_up') }}">Don't have an account yet?</a>
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    {% block content %}{% endblock %}

    <div class="section has-background-dark">
        <div class="columns">
            <div class="column menu">
                <p class="menu-label has-text-white">Shop</p>
                <ul class="menu-list">
                <li><a class="has-text-white">Gift cards</a></li>
                <li><a class="has-text-white">Betsy blog</a></li>
                </ul>
            </div>
            <div class="column menu">
                <p class="menu-label has-text-white">Sell</p>
                <ul class="menu-list">
                <li>
                    <a class="has-text-white" href="{{ url_for('sign_up') }}">Sell on Betsy</a>
                </li>
                <li><a class="has-text-white">Teams</a></li>
                <li><a class="has-text-white">Forums</a></li>
                <li><a class="has-text-white">Affiliates</a></li>
                </ul>
            </div>
            <div class="column menu">
                <p class="menu-label has-text-white">About</p>
                <ul class="menu-list">
                <li><a class="has-text-white">Betsy, Inc.</a></li>
                <li><a class="has-text-white">Policies</a></li>
                <li><a class="has-text-white">Investors</a></li>
                <li><a class="has-text-white">Careers</a></li>
                <li><a class="has-text-white">Press</a></li>
                <li><a class="has-text-white">Impact</a></li>
                <li><a class="has-text-white">Legal imprint</a></li>
                </ul>
            </div>
            <div class="column menu">
                <p class="menu-label has-text-white">Help</p>
                <ul class="menu-list">
                <li><a class="has-text-white">Help Center</a></li>
                <li><a class="has-text-white">Trust and safety</a></li>
                <li><a class="has-text-white">Privacy settings</a></li>
                </ul>
                <span class="icon is-medium has-text-white">
                    <i class="fab fa-instagram"></i>
                </span>
                <span class="icon is-medium has-text-white">
                    <i class="fab fa-facebook-square"></i>
                </span>
                <span class="icon is-medium has-text-white">
                    <i class="fab fa-pinterest"></i>
                </span>
                <span class="icon is-medium has-text-white">
                    <i class="fab fa-twitter"></i>
                </span>
                <span class="icon is-medium has-text-white">
                    <i class="fab fa-youtube"></i>
                </span>
            </div>
        </div>
    </div>

        <!-- Main container -->
        <footer class="footer has-background-black">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <p class="has-text-white">
                        &#x1F1F3;&#x1F1F1; The Netherlands |
                    </p>
                </div>
                <div class="level-item">
                    <p class="has-text-white">
                    English (US) |
                    </p>
                </div>
                <div class="level-item">
                    <p class="has-text-white">
                    $(USD)
                    </p>
                </div>
            </div>
        
            <!-- Right side -->
            <div class="level-right">
            <p class="level-item has-text-white">&copy2021 Betsy, Inc.</p>
            <p class="level-item"><a class="has-text-white">Terms of Use</a></p>
            <p class="level-item"><a class="has-text-white">Privacy</a></p>
            <p class="level-item"><a class="has-text-white">Cookies</a></p>
            <p class="level-item"><a class="has-text-white">Interest-based ads</a></p>
            </div>
        </footer>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>