{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="notification is-success is-toast">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if "user" in session %}
        <h1>Welcome back, {{ session['user']['username'] }}!</h1>
    {% else %}
        <h1>Home</h1>
    {% endif %}

    {% if products %}
        <div class="columns is-multiline mb-6">
            <div class="column is-12 has-text-centered mt-6 mb-6">
                <h2 class="is-size-3">Newest products</h2>
            </div>
        </div>
        
        {% for product in products %}
            <div class="column is-3 product-list-item">
                <div class="box">
                    <figure class="image is-4by3 mb-4">
                        <img src="{{ product.thumbnail }}" alt="product thumbnail">
                    </figure>
                    <h2 class="subtitle">{{ product.title }}</h2>
                    <h3 class="price is-size-6 mb-5">${{ product.price_in_cents/100 }}</h3>
                    <hr>
                    <a href="/product_page/{{ product.prod_id }}" class="button is-dark">View Product</a>
                </div>
            </div>
        {% endfor %}

        <a href="{{ url_for('all_products') }}" class="button is-dark">Explore Products</a>
    {% else %}
        <p>There are no products yet...</p>
    {% endif %}
{% endblock %}