{% extends "base.html" %}
{% block title %} Log In {% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h2 class="title">Log In</h2>
<form method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" required>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>

    <div class="field">
        <div class="control">
            <input type="submit" class="button is-dark" value="Login">
        </div>
    </div>
</form>
{% endblock %}