{% extends "base.html" %}
{% block title %} Sign In {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="notification is-danger">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<h2 class="title">Sign In</h2>

<form method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" required>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>

    <div class="field">
        <div class="control">
            <input type="submit" class="button is-dark" value="Sign in">
        </div>
    </div>
</form>
{% endblock %}