{% extends "base.html" %}
{% block title %} My Profile {% endblock %}

{% block content %}
<div class="box">
    <img src="{{ user.avatar_url }}" alt="user avatar">
    <h1>{{ user.full_name }}</h1>
    <p>{{ user.address }}</p>
    <p>{{ user.bio }}</p>
    <a href="{{ url_for('edit_profile') }}" class="button is-info">Edit profile</a>
</div>

<div class="box">
    <h2 class="is-size-3 mb-4">My products</h2>

    <a href="{{ url_for('add_product') }}" class="button is-dark mb-6">Add product</a>

    {% if products %}
        <a href="{{ url_for('my_products') }}" class="button is-dark">View products</a>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>In stock</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <figure class="image is-64x64">
                                <img src="{{ product.thumbnail }}" alt="product thumbnail">
                            </figure>
                        </td>
                        <td>
                            <a href="/product_page/{{ product.prod_id }}">{{ product.title }}</a>
                        </td>
                        <td>{{ product.qty }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any products yet...</p>
    {% endif %}
</div>

<div class="section">
    <h2 class="is-size-3 mb-4">My orders</h2>
    <div class="columns">
        <div class="column box">
            <p>Sales</p>
            {% if sales %}
                <a href="{{ url_for('my_sales') }}" class="button is-dark">View all sales</a>

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                {% if sale.product %}
                                    <td>{{ sale.product.title }}</td>
                                {% else %}
                                    <td>{{ sale.prod_title }}</td>
                                {% endif %}
                                <td>{{ sale.qty }}</td>
                                <td>{{ sale.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You don't have any sales yet...</p>
            {% endif %}
        </div>

        <div class="column box">
            <p>Purchases</p>
            {% if purchases %}
            <a href="{{ url_for('my_purchases') }}" class="button is-dark">View all purchases</a>

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for purchase in purchases %}
                            <tr>
                                {% if purchase.product %}
                                    <td>{{ purchase.product.title }}</td>
                                {% else %}
                                    <td>{{ purchase.prod_title }}</td>
                                {% endif %}
                                <td>{{ purchase.qty }}</td>
                                <td>{{ purchase.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You haven't made any purchases yet...</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}