{% extends "base.html" %}
{% block title %} My Products {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="notification is-danger">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('add_product') }}" class="button is-dark mb-6">Add product</a>
    {% if products %}
        {% for product in products %}
            <div class="column is-3 product-list-item">
                <div class="box">
                    <figure class="image is-4by3 mb-4">
                        <img src="{{ product.thumbnail }}" alt="product thumbnail">
                    </figure>
                    <h2 class="subtitle">{{ product.title }}</h2>
                    <h3 class="price is-size-6 mb-5">${{ product.price_in_cents/100 }}</h3>
                    <hr>
                    <a href="/product_page/{{ product.prod_id }}" class="button is-dark">View</a>
                    <a href="{{ url_for('edit_product', product_id=product.prod_id) }}" class="button is-info">Edit</a>
                    <a href="{{ url_for('remove_product', product_id=product.prod_id) }}" class="button is-danger">Remove</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>You don't have any products yet...</p>
        <a href="{{ url_for('add_product') }}" class="button is-dark mb-6">Add product</a>
    {% endif %}
{% endblock %}