{% extends "base.html" %}
{% block title %} My Profile {% endblock %}
{% block content %}
<div class="box">
    <img src="{{ user.avatar_url }}" alt="user avatar">
    <h1>{{ user.full_name }}</h1>
    <button class="button is-dark">Edit Profile</button>
    <p>{{ user.address }}</p>
    <p>{{ user.bio }}</p>
</div>

<div class="box">
    <h2 class="is-size-3 mb-4">My products</h2>

    <a href="{{ url_for('add_product') }}" class="button is-dark mb-6">Add product</a>

    {% if products %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.title }}</td>
                        <td>${{ product.price_in_cents/100 }}</td>
                        <!-- divide by 100 to get price in dollars -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any products yet...</p>
    {% endif %}
</div>

<div class="box">
    <h2 class="is-size-3 mb-4">My orders</h2>
    <p>Sales</p>
    {% if sales %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                    <tr>
                        <td>{{ sale.product.title }}</td>
                        <td>{{ sale.qty }}</td>
                        <td>{{ sale.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any sales yet...</p>
    {% endif %}
    <hr>
    <br>
    <p>Purchases</p>
    {% if purchases %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                    <tr>
                        <td>{{ purchase.product.title }}</td>
                        <td>{{ purchase.qty }}</td>
                        <td>{{ purchase.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You haven't made any purchases yet...</p>
    {% endif %}
</div>
{% endblock %}