{% extends "base.html" %}
{% block title %} {{ product.title }} {% endblock %}

{% block content %}
    {% if product_images %}
        {% for image_url in product_images %}
            <figure class="image is-2by2 mb-6">
                <img src="{{ image_url }}" alt="product thumbnail">
            </figure>
        {% endfor %}
    {% else %}
        <figure class="image is-2by2 mb-6">
            <img src="http://cdn.shopify.com/s/files/1/0169/2660/5412/collections/placeholder-images-collection-1_large_807560ab-9024-46ea-ab0a-bb49df2b3bb8_1200x1200.png?v=1551259616" alt="product thumbnail">
        </figure>
    {% endif %}

    <p class="mb-6">
        <a href="/user_page/{{ product.vendor.username }}">{{ product.vendor.username }}</a>
    </p>
    <h1 class="title">{{ product.title }}</h1>
    <h2>${{ product.price_in_cents/100 }}</h2>
    <span>{{ product.qty }} in stock</span>

    <h3>Description</h3>
    <p>{{ product.description }}</p>

    <br>
    <form method="post">
        <div class="control">
            <input type="number" name="quantity" value="1" class="input" min="1" max="{{ product.qty }}">
        </div>

        <div class="control">
            <button class="button is-dark">Add to cart</button>
        </div>
    </form>
    <br>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="notification is-success is-toast">{{msg}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="block">
        <h3>Explore related tags</h3>
        <div class="box">
            {% if product_tags %}
                {% for tag in product_tags %}
                <a href="/products/{{ tag }}" class="button is-dark">{{ tag }}</a>
                {% endfor %}
            {% else %}
                <p>no tags associated with {{ product.title }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}