{% extends "base.html" %}
{% block title %} {{ query }} {% endblock %}
{% block content %}

    {% if products %}
        {% for product in products %}
            <div class="column is-3 product-list-item">
                <div class="box">
                    <figure class="image is-4by3 mb-4">
                        <img src="" alt="product thumbnail">
                        <!-- insert image thumbnail -->
                    </figure>
                    <h2 class="subtitle">{{ product.title }}</h2>
                    <h3 class="price is-size-6 mb-5">${{ product.price_in_cents/100 }}</h3>
                    <hr>
                    <a href="/product_page/{{ product.prod_id }}" class="button is-dark">View Product</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No products found for your search "{{ query }}"...</p>
    {% endif %}
{% endblock %}