{% extends "base.html" %}
{% block title %} {{ betsy_user.username }} Profile {% endblock %}

{% block content %}

<!----------------  flashed messages and notifications  ---------------->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="notification is-danger">{{msg}}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<hr>

<section class="section">
    <div class="columns">
        <div class="column is-two-fifths">

            <!---------------------  user info  --------------------->
            <div class="media">
                <figure class="image is-96x96 media-left">
                    <img width="128" height="128" class="is-rounded" src="{{ betsy_user.avatar_url }}"
                        alt="user avatar">
                </figure>
                <div class="media-content">
                    <div class="content">
                        <h1 class="has-text-weight-light title mb-5" style="font-family: Georgia;">{{
                            betsy_user.username }}</h1>
                        <h2 class="subtitle mb-3">{{ betsy_user.bio }}</h2>
                        <p class="has-text-weight-light">{{ betsy_user.address }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!----------------  filters sidebar  ---------------->
<section class="section">
    <div class="columns">
        <div class="column is-3">
            <nav class="panel is-white">
                <p class="panel-heading">
                    Items
                </p>
                <div class="panel-block">
                    <p class="control has-icons-right">
                        <input class="input is-rounded" type="text" placeholder="Search items">
                        <span class="icon is-right">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </p>
                </div>

                <a class="panel-block is-active">All ({{ products|length }})</a>

                <div class="panel-block">
                    <button class="button is-dark is-fullwidth">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-clipboard-list"></i>
                            </span>
                            <span class="has-text-weight-semibold">Request Custom Order</span>
                        </span>
                    </button>
                </div>

                <div class="panel-block">
                    <button class="button is-outlined is-fullwidth">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-comment-dots"></i>
                            </span>
                            <span class="has-text-weight-semibold">Contact shop owner</span>
                        </span>
                    </button>
                </div>

                <br>

                <a class="panel-block">Report this shop to Betsy</a>
            </nav>
        </div>

        <!---------------------  user products  --------------------->
        <div class="column">
            {% if products %}
                <div class="columns is-multiline">
                    {% for product in products %}
                        <div class="column is-3 product-list-item">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-1by1">
                                        <a href="{{ url_for('product_page', product_id=product.prod_id) }}">
                                            <img src="{{ product.thumbnail }}" alt="product thumbnail">
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <a class="has-text-dark" href="{{ url_for('product_page', product_id=product.prod_id) }}">{{ product.title }}</a>
                            <p class="has-text-weight-bold">${{ product.price_in_cents/100 }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>{{ betsy_user.username }} doesn't have any products yet...</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}